body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.timer button {
  padding: 0.75rem 1.5rem;
}

.input-small {
  width: 50%; 
  margin: 0 auto; 
}

.countdown-circle {
  width: 12.5rem;
  height: 12.5rem; 
  background-color: #f0f0f0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1875rem solid black;
  margin: 0 auto; 
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.countdown-circle h1 {
  font-size: 3rem;
  margin: 0;
}
